.hero {
    width: 100%;
    aspect-ratio: 1920 / 420;
    background: url("/images/banner/banner.png") center/cover no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    color: white;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0;
}

/* === RESPONSIVE === */

@media (max-width: 1024px) {
    .hero {
        padding-left: 40px;
    }
}

@media (max-width: 768px) {
    .hero {
        height: auto;
        padding: 0;
        justify-content: center;
        text-align: center;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .hero h1 {
        font-size: 24px;
    }
}
